@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

.custom-marker {
  background: none;
  border: none;
}

.marker-pin {
  width: 16px;
  height: 16px;
  border-radius: 50% 50% 50% 0;
  background-color: #3b82f6;
  transform: rotate(-45deg);
  border: 2px solid white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
